services:
  - type: web
    name: rps15-server
    runtime: node
    region: oregon
    plan: free
    rootDir: server
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: PORT
        value: 3001
      - key: CLIENT_URL
        sync: false
